@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Khula:300);
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap);
@import url(CoventryGardenNF.ttf);

body {
  background-color: #fbf7f0;
  background: url(assets/images/background-img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}

/*Divs*/
#header-div {
  border-style: solid;
  border-width: 1px;
  border-color: #ba6e03;
  background-color: transparent;
  margin: 1.5% 23.5% 1.25% 23.5%;
  padding: -0.5% 0% -0.5% 0%;
  border-radius: 10%;
}

#title {
  font-size: 35px;
  text-align: center;
  font-family: 'CoventryGardenNF', Sans-serif;
  font-weight: lighter;
}

#text {
  padding: 0% 0% 0% 1.1%;
}

#img-div {
  background-color: #fff5ea;
  margin: 2% 6% 2% 6%;
  padding: 0% 0% 4% 0%;
  overflow: hidden;
  opacity: 0.95;
  border-radius: 5%;
}

.content {
  border-style: solid;
  border-width: 1px;
  border-color: #ba6e03;
  box-shadow: 0 0 2.5em rgba(252, 212, 156, 0.2);
  margin: 2% 2% 2% 2%;
  padding: 5% 5% 3% 5%;
  background-color: #ebcfc4;
  vertical-align: bottom;
  border-radius: 3%;
}

#content1 {
  padding: 5% 5% 6% 5%;
}

#content2 {
  padding: 3% 5% 4% 5%;
}

.rows {
  display: flex;
}

.columns {
  flex: 33.33%;
  padding: 5px;
}

.footer {
  background-color: #fff5ea;
  margin: 0.8% 5% 0% 5%;
  border-style: solid;
  border-width: 1px;
  border-color: #ba6e03;
  padding: 0% 0% 0% 1%;
  border-radius: 10%;
  opacity: 0.85;
}

/*Texts*/

h1 {
    font-family: 'Julius Sans One', Sans-Serif;
    font-size: 35px;
    color: rgb(176, 69, 54);
}

.text-img {
  font-size: 40px;
  position: relative;
  padding: 0% 0% 0% 1.1%;
  color: #ba6e03;
  font-family: 'Amatic SC', Sans-serif;
}

#subquote {
  position: relative;
  padding: 0% 4% 0% 18%;
  color: #ba6e03;
  font-family: Sans-serif;
  font-size: 15.5px;
}

li {
    font-family: 'Khula', sans-serif;
    list-style: none;
    font-size: 19.5px;
    color: #1c2b2d;
    padding: 1% 1% 1% 0%;
}

#text-statue {
 text-align: center;
 padding-bottom: 30px;
}

h2 {
    font-family: 'Julius Sans One', Sans-Serif;
    font-size: 25px;
    color: #ba6e03;
}

#special-h2 {
  margin: 0% 0% 1.8% 0%;
}

h5 {
    font-family: 'Julius Sans One', Sans-Serif;
    color: #ba6e03;
    text-align: center;
    font-size: 20px;
}

p {
    font-family: 'Khula', Sans-serif;
    font-size: 19.5px;
    color: #1c2b2d;
    padding: 1% 1% 1% 0%;
}

.p2 {
  text-align: center;
}

.image-descript {
  text-align: center;
    font-family: 'Amatic SC', Sans-serif;
}

.footer-text {
    text-align: center;
    font-family: 'Khula', Sans-serif;
    font-size: 18px;
    color: #ba6e03;
}

/*Images*/

#dante-al {
  margin: -50% 2% -6% 55%;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.dante-statue {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 250px;
height: auto;
border-style: solid;
border-width: 1px;
border-color: #ba6e03;
}

.dante-pictures {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
max-width: 350px;
height: auto;
border-style: solid;
border-width: 2px;
border-color: #ba6e03;
transition: all .2s ease-in-out;
}

#dante-bust {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
max-width: 75px;
opacity: 1;
}

#dante-bust:hover {
  transform: scaleX(-1);
  cursor: pointer;
}

.text-dividers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 28%;
}

#first-divider {
  width: 100%;
  max-width: 450px;
  height: auto;
}

#second-divider {
  width: 100%;
  max-width: 450px;
  height: auto;
}
/*Scrollbar*/

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #ba6e03;
}

::-webkit-scrollbar-thumb {
  background: #ffd5cd;
}

::-webkit-scrollbar-thumb:hover {
  background: #ba6e03;
}
